[Desktop Entry]
Name=Install Sovrn OS
Comment=Install Sovrn OS to your hard drive
Exec=pkexec /usr/bin/sovrn-install
Icon=drive-harddisk
Type=Application
Categories=System;Setup;
Terminal=false
NoDisplay=false
